<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>List Clubs</h1>
    
    <a href="{{path('app_addClub')}}">Add Club</a>

</div>

<div class="container">
    <div class="row">
        {% if tabClubs is not empty %}
            <table border="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Description</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tabClubs %}

                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.description|slice(0, 20) }}...</td>
                         <td><a href="{{ path('app_updateClub',{'id':i.id}) }}">Update</a></td>
                        <td><a href="{{ path('app_removeClub',{'id':i.id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No article found.</p>
        {% endif %}
    </div>
</div>

</body>
</html>