<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Update Club</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Update Club</h1>
    <p>editer un club</p>
</div>

<div class="container">
    <div class="row">
        {{ form_start(formClub) }}
        <table>
            <tbody>
            <tr>
                <th>Name:</th>
                <td>{{ form_widget(formClub.name) }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ form_widget(formClub.description) }}</td>
            </tr>
           
            <tr>
                <th></th>
                <td>{{ form_widget(formClub.submit) }}</td>
            </tr>
            </tbody>
        </table>

        {{ form_end(formClub) }}
    </div>
</div>

</body>
</html>